<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<main class="index">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title">Pae Hono Content :</h2>
        <ul class="list">
          <li class="list__item">
            <a href="register.html" class="list__link">Register</a>
          </li>
          <li class="list__item">
            <a href="login.html" class="list__link">login</a>
          </li>
          <li class="list__item">
            <a href="forgot-password.html" class="list__link">Forgot Password</a>
          </li>
          <li class="list__item mb-3">
            <a href="onboarding_guide.html" class="list__link">Onboarding Guide</a>
          </li>
          <li class="list__item">
            <h2>Dashboard</h2>
          </li>
          <li class="list__item">
            <a href="home.html" class="list__link">Home</a>
          </li>
          <li class="list__item">
            <a href="preparation.html" class="list__link">Preparation</a>
          </li>
          <li class="list__item">
            <a href="suplement.html" class="list__link">Suplement</a>
          </li>
          <li class="list__item">
            <a href="test-covid.html" class="list__link">Test Covid</a>
          </li>
          <li class="list__item">
            <a href="whanau-plan.html" class="list__link">Whanau Plan</a>
          </li>
          <li class="list__item">
            <a href="whare-kit.html" class="list__link">Whare Kit</a>
          </li>
          <li class="list__item">
            <a href="account-setting.html" class="list__link">Account setting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock %}
