<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<header class="header">{% include "partials/navigation.html" %}</header>
<main class="webapp webapp--monitoring">
  <section class="section section--monitoring">
    <div class="container">
      <div class="navigation-back">
        <a href="monitoring.html" class="action-wrapper">
          <div class="icon-wrapper">
            <i class="icon icon--back fas fa-arrow-left"></i>
          </div>
          Monitoring with Oximeter
        </a>
        <span class="subheading col-sm-6"
          ><a
            class="bold"
            href="https://www.healthnavigator.org.nz/health-a-z/p/pulse-oximeter-adult/"
            target="blank"
            >Click here</a
          >
          to see references on using the oximeter</span
        >
      </div>

      <div class="panel-wrapper">
        <div class="col-lg-4 col-xs-2 col-md-8">
          <input type="date" class="form-control date-monitoring" />
        </div>
        <div>
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#takeReadingModal"
            class="button button--grey button- single--button px-5"
          >
            <span class="action-text"> Take Reading </span>
            <i class="fas fa-plus-circle action-icon"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-4 mb-3"></div>
    </div>

    <div class="container">
      <div class="swiper row swiper-custom">
        <div class="card-custom col-sm-12 col-md-4 col-lg-4">
          <div class="card card--blue">
            <div class="card-wrapper w-100">
              <h4 class="title">Morning</h4>
              <div class="card-action">
                <i
                  class="icon fas fa-pencil-alt"
                  data-bs-toggle="modal"
                  data-bs-target="#editMonitoringModal"
                ></i>
              </div>
            </div>
            <div class="card-content">
              <hr class="card-divider" />
              <div class="card-wrapper">
                <div class="card-item">
                  <div class="cart-item-value">93</div>
                  <div class="cart-item-label">Sp02</div>
                </div>
                <div class="card-item">
                  <div class="cart-item-value">115</div>
                  <div class="cart-item-label">Pulse Rate</div>
                </div>
                <div class="card-item">
                  <div class="cart-item-value">37</div>
                  <div class="cart-item-label">Temperature</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-custom col-sm-12 col-md-4 col-lg-4">
          <div class="card card--yellow">
            <div class="card-wrapper w-100">
              <h4 class="title">Afternoon</h4>
              <div class="card-action">
                <i
                  class="icon fas fa-pencil-alt"
                  data-bs-toggle="modal"
                  data-bs-target="#editMonitoringModal"
                ></i>
              </div>
            </div>
            <div class="card-content">
              <hr class="card-divider" />
              <div class="card-wrapper">
                <div class="card-item">
                  <div class="cart-item-value">-</div>
                  <div class="cart-item-label">Sp02</div>
                </div>
                <div class="card-item">
                  <div class="cart-item-value">-</div>
                  <div class="cart-item-label">Pulse Rate</div>
                </div>
                <div class="card-item">
                  <div class="cart-item-value">-</div>
                  <div class="cart-item-label">Temperature</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-custom col-sm-12 col-md-4 col-lg-4">
          <div class="card card--gray">
            <div class="card-wrapper w-100">
              <h4 class="title">Night</h4>
              <div class="card-action">
                <i
                  class="icon fas fa-pencil-alt"
                  data-bs-toggle="modal"
                  data-bs-target="#editMonitoringModal"
                ></i>
              </div>
            </div>
            <div class="card-content">
              <hr class="card-divider" />
              <div class="card-wrapper">
                <div class="card-item">
                  <div class="cart-item-value">-</div>
                  <div class="cart-item-label">Sp02</div>
                </div>
                <div class="card-item">
                  <div class="cart-item-value">-</div>
                  <div class="cart-item-label">Pulse Rate</div>
                </div>
                <div class="card-item">
                  <div class="cart-item-value">-</div>
                  <div class="cart-item-label">Temperature</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="chart-monitoring">
        <div class="chart-title">
          <h4>Sp02 Chart</h4>
        </div>
        <div class="chart-content">
          <canvas id="sp02-chart" width="400" height="150"></canvas>
        </div>
        <div class="chart-footer">
          <div class="chart-badge">
            <div class="chart-label chart-label--green"></div>
            <span>Acceptable</span>
          </div>
          <div class="chart-badge">
            <div class="chart-label chart-label--yellow"></div>
            <span>Get advice from healthcare team</span>
          </div>
          <div class="chart-badge">
            <div class="chart-label chart-label--red"></div>
            <span>Urgent, Call 111</span>
          </div>
        </div>
      </div>
      <div class="chart-monitoring">
        <div class="chart-title">
          <h4>Pulse Rate Chart</h4>
        </div>
        <div class="chart-content">
          <canvas id="pulse-rate-chart" width="400" height="150"></canvas>
        </div>
        <div class="chart-footer">
          <div class="chart-badge">
            <div class="chart-label chart-label--green"></div>
            <span>Acceptable</span>
          </div>
          <div class="chart-badge">
            <div class="chart-label chart-label--yellow"></div>
            <span>Get advice from healthcare team</span>
          </div>
          <div class="chart-badge">
            <div class="chart-label chart-label--red"></div>
            <span>Urgent, Call 111</span>
          </div>
        </div>
      </div>
      <div class="chart-monitoring">
        <div class="chart-title">
          <h4>Temperature Chart</h4>
        </div>
        <div class="chart-content">
          <canvas id="temperature-chart" width="400" height="150"></canvas>
        </div>
        <div class="chart-footer">
          <div class="chart-badge">
            <div class="chart-label chart-label--purple"></div>
            <span>Cold</span>
          </div>
          <div class="chart-badge">
            <div class="chart-label chart-label--green"></div>
            <span>Comfortable</span>
          </div>
          <div class="chart-badge">
            <div class="chart-label chart-label--red"></div>
            <span>Hot</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="error" align="center">
        <img
          src="assets/img/monitoring/icon-no-data.svg"
          alt=""
          class="img img-fluid"
        />
        <h4>Sorry, no data available yet</h4>
        <p>Please enter your oximeter readings from take reading button</p>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal modal-monitoring fade"
    id="takeReadingModal"
    tabindex="-1"
    aria-labelledby="takeReadingModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title bold">Enter Oximeter Readings</h6>
          <button
            type="button"
            class="button button--close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="inner-wrapper">
              <div class="row mb-0">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label class="form-label">Select Date</label>
                  <input type="date" class="form-control" />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label class="form-label">Enter checking time</label>
                  <input type="time" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label required"
                    >Pulse Rate (bpm or PRbpm)
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Eg. 50"
                  />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label required"
                    >Oxygen Saturation Sp02%
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Eg. 95"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">Temperature</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Eg. 36"
                  />
                </div>
              </div>
            </div>
            <div class="panel-wrapper-footer">
              <button class="button button--black w-100 m-1">Save</button>
              <button
                type="button"
                data-bs-dismiss="modal"
                class="button button--black-outline button--has-icon w-100 m-1"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal modal-monitoring fade"
    id="editMonitoringModal"
    tabindex="-1"
    aria-labelledby="editMonitoringModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title bold">Update Oximeter Readings</h6>
          <button
            type="button"
            class="button button--close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="inner-wrapper">
              <div class="row mb-0">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label class="form-label">Select Date</label>
                  <input type="date" class="form-control" />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                  <label class="form-label">Enter checking time</label>
                  <input type="time" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label required"
                    >Pulse Rate (bpm or PRbpm)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Eg. 50"
                  />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label required"
                    >Oxygen Saturation Sp02%</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Eg. 95"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label class="form-label">Temperature</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Eg. 36"
                  />
                </div>
              </div>
            </div>
            <div class="panel-wrapper-footer">
              <button class="button button--black w-100 m-1">Update</button>
              <button
                type="button"
                data-bs-dismiss="modal"
                class="button button--black-outline button--has-icon w-100 m-1"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
