<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<header class="header">
  {% include "partials/navigation.html" %}
</header>
<main class="webapp webapp--test-covid">
  <section class="section section--list">
    <div class="container">
      <div class="navigation-back">
        <a href="home.html" class="action-wrapper">
          <div class="icon-wrapper">
            <i class="icon icon--back fas fa-arrow-left"></i>
          </div>
          Get Tested for Covid
        </a>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="card">
            <div class="card-content">
              <h6 class="title m-0">Find a testing station near you</h6>
            </div>
            <figure class="image-wrapper">
              <img src="assets/img/tested/test-one.svg" alt="" class="img img-fluid">
            </figure>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="card">
            <div class="card-content">
              <h6 class="title m-0">At the testing station ask for an urgent test and assistance with Kai</h6>
            </div>
            <figure class="image-wrapper">
              <img src="assets/img/tested/test-two.svg" alt="" class="img img-fluid">
            </figure>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="card">
            <div class="card-content">
              <h6 class="title m-0">Contact your <span class="highlight" data-bs-toggle="modal" data-bs-target="#covidModal">support person</span>, your job and work and income</h6>
            </div>
            <figure class="image-wrapper">
              <img src="assets/img/tested/test-three.svg" alt="" class="img img-fluid">
            </figure>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="card">
            <div class="card-content">
              <h6 class="title m-0">Isolate yourself and whānau until test result come back</h6>
            </div>
            <figure class="image-wrapper">
              <img src="assets/img/tested/test-four.svg" alt="" class="img img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div
  class="modal modal-covid fade"
  id="covidModal"
  tabindex="-1"
  aria-labelledby="covidModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="covidModalLabel">
          Support Person List
        </h5>
        <button
          type="button"
          class="button button--close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
              <div class="card-content">
                <h4 class="title">Masrama</h4>
                <div class="card-item">
                  <i class="fas fa-phone-alt"></i> +64 21 123 4567
                </div>
                <div class="card-item">
                  <i class="fas fa-envelope"></i> masramadotcom@gmail.com
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
              <div class="card-content">
                <h4 class="title">Masrama</h4>
                <div class="card-item">
                  <i class="fas fa-phone-alt"></i> +64 21 123 4567
                </div>
                <div class="card-item">
                  <i class="fas fa-envelope"></i> masramadotcom@gmail.com
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
              <div class="card-content">
                <h4 class="title">Masrama</h4>
                <div class="card-item">
                  <i class="fas fa-phone-alt"></i> +64 21 123 4567
                </div>
                <div class="card-item">
                  <i class="fas fa-envelope"></i> masramadotcom@gmail.com
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
