<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<header class="header">
  {% include "partials/navigation.html" %}
</header>
<main class="webapp webapp--whare">
  <section class="section section--whare">
    <div class="container">
      <div class="navigation-back">
        <a href="home.html" class="action-wrapper">
          <div class="icon-wrapper">
            <i class="icon icon--back fas fa-arrow-left"></i>
          </div>
          Whare Kit and Covid Medicine Kit
        </a>
      </div>
      <div class="tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-whare-kit-tab" data-bs-toggle="pill" data-bs-target="#pills-whare-kit" type="button" role="tab" aria-controls="pills-whare-kit" aria-selected="true">Whare Kit</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-medicine-kit-tab" data-bs-toggle="pill" data-bs-target="#pills-medicine-kit" type="button" role="tab" aria-controls="pills-medicine-kit" aria-selected="false">Covid Medicine Kit</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-whare-kit" role="tabpanel" aria-labelledby="pills-whare-kit-tab">
            <form class="form">
              <div class="inner-wrapper">
                <h4 class="form-title form-title--black">Create your Whare Kit, note where it is in the house, then tell your Whānau</h4>
                <div class="row">
                  <div class="col">
                    <label for="whare-kit" class="check-wrapper">
                      <input type="checkbox" id="whare-kit" class="form-control form-control--check">
                      <div class="custom-check">
                        <div class="box">
                          <i class="icon icon--check fas fa-check"></i>
                        </div>
                        <p class="text">Select All</p>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-one" class="check-wrapper">
                          <input type="checkbox" id="whare-one" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Masks</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/mask-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-two" class="check-wrapper">
                          <input type="checkbox" id="whare-two" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Gloves</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/glove-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-three" class="check-wrapper">
                          <input type="checkbox" id="whare-three" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Hand Sanitizer</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/sanitizer-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-four" class="check-wrapper">
                          <input type="checkbox" id="whare-four" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Rubbish Bags</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/rubbish-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-five" class="check-wrapper">
                          <input type="checkbox" id="whare-five" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Tape</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/tape-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-six" class="check-wrapper">
                          <input type="checkbox" id="whare-six" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Rubbish Bins or Bucket with lids</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/bin-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-seven" class="check-wrapper">
                          <input type="checkbox" id="whare-seven" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Buckets</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/bucket-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="whare-eight" class="check-wrapper">
                          <input type="checkbox" id="whare-eight" class="form-control form-control--check check-whare">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Disinfectant</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/disinfectan-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Eg. left cupboard under the stairs">
                  </div>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button button--black">Save Changes</button>
                <button class="button button--black-outline button--has-icon">
                  <i class="icon icon--share fas fa-share"></i>
                  Share Information
                </button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-medicine-kit" role="tabpanel" aria-labelledby="pills-medicine-kit-tab">
            <form class="form">
              <div class="inner-wrapper">
                <h4 class="form-title form-title--black">Create your Covid Medicine Kit</h4>
                <p class="text-helper"><i class="fas fa-exclamation-circle"></i> You can ask your Doctor for a prescription for most of these medicines.</p>
                <div class="row">
                  <div class="col">
                    <label for="medicine-kit" class="check-wrapper">
                      <input type="checkbox" id="medicine-kit" class="form-control form-control--check">
                      <div class="custom-check">
                        <div class="box">
                          <i class="icon icon--check fas fa-check"></i>
                        </div>
                        <p class="text">Select All</p>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-one" class="check-wrapper">
                          <input type="checkbox" id="medicine-one" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Stock up your regular medicines</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/med-three-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-two" class="check-wrapper">
                          <input type="checkbox" id="medicine-two" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Oximeter</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/oximeter-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-three" class="check-wrapper">
                          <input type="checkbox" id="medicine-three" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Panadol</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/med-four.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-four" class="check-wrapper">
                          <input type="checkbox" id="medicine-four" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Ibu Profen</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/med-one-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-five" class="check-wrapper">
                          <input type="checkbox" id="medicine-five" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Antihistamines</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/med-four-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-six" class="check-wrapper">
                          <input type="checkbox" id="medicine-six" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Betadine Throat Wash</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/betadine-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-seven" class="check-wrapper">
                          <input type="checkbox" id="medicine-seven" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Throat Probiotics</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/med-two-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-eight" class="check-wrapper">
                          <input type="checkbox" id="medicine-eight" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Saline Nasal Rinse</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/nasal-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-nine" class="check-wrapper">
                          <input type="checkbox" id="medicine-nine" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Saline Nose Spray</p>
                          </div>
                        </label>
                      </div>
                      <figure class="image-wrapper">
                        <img src="assets/img/medkit/nose-spray-img.svg" alt="">
                      </figure>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-ten" class="check-wrapper">
                          <input type="checkbox" id="medicine-ten" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Kawakawa Balm</p>
                          </div>
                        </label>
                      </div>
                      <!-- <figure class="image-wrapper">
                        <img src="assets/img/medkit/nose-spray-img.svg" alt="">
                      </figure> -->
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-content">
                        <label for="medicine-eleven" class="check-wrapper">
                          <input type="checkbox" id="medicine-eleven" class="form-control form-control--check check-medicine">
                          <div class="custom-check">
                            <div class="box">
                              <i class="icon icon--check fas fa-check"></i>
                            </div>
                            <p class="text">Vicks for steaming</p>
                          </div>
                        </label>
                      </div>
                      <!-- <figure class="image-wrapper">
                        <img src="assets/img/medkit/nose-spray-img.svg" alt="">
                      </figure> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Eg. left cupboard under the stairs">
                  </div>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button button--black">Save Changes</button>
                <button class="button button--black-outline button--has-icon">
                  <i class="icon icon--share fas fa-share"></i>
                  Share Information
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
