.webapp--monitoring {
  .section--list {
    .card {
      position: relative;
      .link-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
      .card-content {
        .title {
          font: normal 14px/20px Roboto;
          @include for-size(tablet) {
            font: normal 20px/28px Roboto;
          }
          @include for-size(desktop) {
            font: normal 20px/28px Roboto;
          }
        }
        .link {
          font: normal 12px/17px Roboto;
          @include for-size(tablet) {
            font: normal 14px/20px Roboto;
          }
          @include for-size(desktop) {
            font: normal 14px/20px Roboto;
          }
        }
      }
      .image-wrapper {
        width: 75px;
        height: 45px;
        @include for-size(tablet) {
          width: 170px;
          height: 100px;
        }
        @include for-size(desktop) {
          width: 170px;
          height: 100px;
        }
      }
    }
  }

  .section--monitoring {
    .card {
      display: flex;
      flex-direction: column;

      &.card--gray {
        border: 1px solid #333333;
        color: #333333;
      }
      &.card--yellow {
        border: 1px solid $color-dark-yellow;
        color: $color-dark-yellow;
      }
      &.card--blue {
        border: 1px solid $color-blue;
        color: $color-blue;
      }

      .text-black {
        color: $color-black;
      }

      .title {
        font-weight: bold;
        font-size: 16px;
        font-family: Roboto;
        @include for-size(tablet) {
          font-family: Roboto;
          font-size: 18px;
        }
        @include for-size(desktop) {
          font-size: 18px;

          font-family: Roboto;
        }
      }

      .card-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .card-action {
        cursor: pointer;
        align-self: center;
        color: $color-black;
      }

      .card-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .card-divider {
          color: #333333;
        }

        .card-item {
          border: 1px solid #c4c4c4;
          padding: 5px;
          border-radius: 5px;
          text-align: center;
          font-size: 13px;
          margin: 3px;
          width: 100%;

          .cart-item-value {
            font-weight: bold;
            font-size: 16px;
          }
        }

        ul {
          list-style-type: disc;
          font-weight: bold;
          margin-left: 20px;
        }

        .badge {
          border-radius: 100px;
          background: $color-white;
          font-family: Roboto;
          font-size: 15px;

          &.badge--red {
            border: 1px solid $color-red;
            color: $color-red;
            padding: 5px 10px !important;
          }

          &.badge--green {
            color: $color-green;
            padding: 0;
          }
        }
      }
    }

    .subheading {
      font-size: 14px;
      color: $color-blue;
      margin-left: 2.8rem;
      @include for-size(phone-xs) {
        margin: auto;
      }

      a {
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }

  .form {
    min-height: auto;
  }

  .inner-wrapper {
    padding: 0;
  }

  .panel-wrapper {
    display: flex;
    justify-content: space-between;

    .action-icon {
      display: none;
    }

    .action-text {
      display: block;
    }

    @include for-size(phone-xs) {
      .action-icon {
        display: block;
      }

      .action-text {
        display: none;
      }
    }

    @include for-size(phone-sm) {
      .action-icon {
        display: block;
      }

      .action-text {
        display: none;
      }
    }
  }

  .panel-wrapper-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 -4px;
  }

  .error {
    font-family: roboto;
    color: $color-blue;
    h4 {
      font-weight: bold;
    }
  }

  .modal-monitoring {
    .modal-dialog {
      max-width: 80% !important;
      @include for-size(phone-xs) {
        max-width: 100% !important;
      }
    }

    .card-symptoms {
      @include for-size(phone-xs) {
        float: left !important;
        width: 150px;
        margin-right: 10px;
      }
    }

    .card {
      cursor: pointer;
      border: 1px solid $color-black;
      box-sizing: border-box;
      border-radius: 8px;
      margin-bottom: 10px;
      min-height: 60px;
      @include for-size(tablet) {
        margin-bottom: 30px;
        min-height: 80px;
      }
      @include for-size(desktop) {
        margin-bottom: 30px;
        min-height: 80px;
      }

      @include for-size(phone-xs) {
        margin-bottom: 30px;
        min-height: 80px;
        width: 150px;
      }

      .check-label {
        .text {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .card-disabled {
      background: $bg-gray;
    }

    .check-wrapper {
      display: flex;
      flex-direction: column;
      .custom-check {
        align-self: flex-end;
        margin-right: -10px;
      }
    }

    .inline-field {
      display: flex !important;
      @include for-size(phone-xs) {
        flex-direction: column;
        justify-content: center !important;
      }
      justify-content: space-between !important;
      margin-left: -11px;

      .check-wrapper {
        cursor: pointer;
        margin: 4px;
        .form-control--check {
          display: none;
          &:checked {
            ~ .custom-check {
              border: 1px solid $color-blue;
              .icon--check {
                border: 6px solid $color-blue;
              }
              .text {
                color: $color-blue;
              }
            }
          }
        }
        .custom-check {
          min-height: 30px;
          padding: 15px;
          display: flex;
          border: 1px solid $color-black;
          margin: 0;

          .icon--check {
            display: flex;
            flex: 0 0 auto;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 10px;
            border: 1px solid $color-black;
          }
          .text {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140.62%;
            margin: 0;
            color: $color-black;
            @include for-size(tablet) {
              font-size: 16px;
            }
            @include for-size(desktop) {
              font-size: 16px;
            }
          }
        }

        .radio-monitoring {
          width: 228px;
          @include for-size(phone-xs) {
            width: 100%;
          }
        }
      }
    }

    .required:after {
      content: " *";
      color: $color-red;
    }
  }

  .chart-monitoring {
    background: $color-white;
    border-radius: 8px;
    margin-bottom: 20px;

    .chart-title {
      padding: 20px 0 10px 20px;
      border-bottom: 2px solid #e0e0e0;
      margin-bottom: 15px;
      h4 {
        font-weight: bold;
      }
    }

    .chart-content {
      padding: 15px;
    }

    .chart-content {
      padding: 15px;
    }

    .chart-footer {
      display: flex;
      justify-content: center;
      background-color: $color-grey;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      .chart-badge {
        margin: 10px;
        display: flex;

        .chart-label {
          background-color: $color-grey;
          padding: 7px 10px;
          margin: 10px 5px;
          align-self: flex-start;

          &.chart-label--yellow {
            background-color: rgba(255, 206, 86, 0.2);
          }
          &.chart-label--red {
            background-color: rgba(255, 99, 132, 1);
          }
          &.chart-label--green {
            background-color: rgba(75, 192, 192, 1);
          }
          &.chart-label--purple {
            background-color: rgba(153, 102, 255, 0.2);
          }
        }

        span {
          padding: 5px;
        }
      }
    }
  }
}
