.webapp--monitoring {
  .section--list {
    .card {
      position: relative;
      .link-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
      .card-content {
        .title {
          font: normal 14px/20px Roboto;
          @include for-size(tablet) {
            font: normal 20px/28px Roboto;
          }
          @include for-size(desktop) {
            font: normal 20px/28px Roboto;
          }
        }
        .link {
          font: normal 12px/17px Roboto;
          @include for-size(tablet) {
            font: normal 14px/20px Roboto;
          }
          @include for-size(desktop) {
            font: normal 14px/20px Roboto;
          }
        }
      }
      .image-wrapper {
        width: 75px;
        height: 45px;
        @include for-size(tablet) {
          width: 170px;
          height: 100px;
        }
        @include for-size(desktop) {
          width: 170px;
          height: 100px;
        }
      }
    }
  }

  .section--monitoring {
    .card {
      display: flex;
      flex-direction: column;

      &.card--gray {
        border: 1px solid #333333;
        color: #333333;
      }
      &.card--yellow {
        border: 1px solid $color-dark-yellow;
        color: $color-dark-yellow;
      }
      &.card--blue {
        border: 1px solid $color-blue;
        color: $color-blue;
      }

      .text-black {
        color: $color-black;
      }

      .title {
        font-weight: bold;
        font-size: 16px;
        font-family: Roboto;
        @include for-size(tablet) {
          font-family: Roboto;
          font-size: 18px;
        }
        @include for-size(desktop) {
          font-size: 18px;

          font-family: Roboto;
        }
      }

      .card-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .card-action {
        cursor: pointer;
        align-self: center;
        color: $color-black;
      }

      .card-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .card-divider {
          color: #333333;
        }

        .card-item {
          border: 1px solid #c4c4c4;
          padding: 5px;
          border-radius: 5px;
          text-align: center;
          font-size: 13px;
          margin: 3px;
          width: 100%;
        }

        ul {
          list-style-type: circle;
          font-weight: bold;
          margin-left: 15px;
        }

        .badge {
          border-radius: 10px;
          background: $color-white;
          font-family: Roboto;
          font-size: 15px;

          &.badge--red {
            border: 1px solid $color-red;
            color: $color-red;
            padding: 5px;
          }

          &.badge--green {
            color: $color-green;
            padding: 0;
          }
        }
      }
    }

    .subheading {
      font-size: 14px;
      color: $color-blue;
      margin-left: 2.8rem;
      @include for-size(phone-xs) {
        margin: auto;
      }

      a {
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }

  .panel-wrapper {
    display: flex;
    justify-content: space-between;

    .action-icon {
      display: none;
    }

    .action-text {
      display: block;
    }

    @include for-size(phone-xs) {
      .action-icon {
        display: block;
      }

      .action-text {
        display: none;
      }
    }

    @include for-size(phone-sm) {
      .action-icon {
        display: block;
      }

      .action-text {
        display: none;
      }
    }
  }

  .error {
    font-family: roboto;
    color: $color-blue;
    h4 {
      font-weight: bold;
    }
  }

  .modal-monitoring {
    .card {
      cursor: pointer;
      border: 1px solid $color-black;
      box-sizing: border-box;
      border-radius: 8px;
      margin-bottom: 10px;
      min-height: 60px;
      @include for-size(tablet) {
        margin-bottom: 30px;
        min-height: 80px;
      }
      @include for-size(desktop) {
        margin-bottom: 30px;
        min-height: 80px;
      }

      @include for-size(phone-xs) {
        margin-bottom: 30px;
        min-height: 80px;
      }

      &.check-wrapper {
        display: flex;
        flex-direction: column;
        .custom-check {
          align-self: flex-end;
        }
      }

      .check-label {
        .text {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .check-custom {
      border: 1px solid $color-black;
      border-radius: 8px;
      display: flex;
      min-height: 30px;
      padding: 15px;
      .check-label {
        .text {
          margin-left: 5px;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
