.webapp--suplement {
  .section {
    &--suplement {
      .form {
        background-color: $color-white;
        padding: 15px;
        .card {
          border: 1px solid #000;
          box-sizing: border-box;
          border-radius: 8px;
          .check-wrapper {
            margin: 0;
            .custom-check {
              .text {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}