.webapp--test-covid {
  .section--list {
    .card {
      .card-content {
        .title {
          font: bold 14px/20px Roboto;
          @include for-size(tablet) {
            font: bold 16px/22px Roboto;
          }
          @include for-size(desktop) {
            font: bold 16px/22px Roboto;
          }
          .highlight {
            color: $color-blue;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 45px;
        margin-left: 20px;
        @include for-size(tablet) {
          width: 170px;
          height: 100px;
        }
        @include for-size(desktop) {
          width: 170px;
          height: 100px
        }
      }
    }
  }
}