<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a href="home.html" class="btn btn-primary">
      <i class="fas fa-home"></i>
    </a>
    <a class="navbar-brand" href="home.html">
      <img src="assets/img/logo.png" alt="" class="img img-fluid" />
    </a>
    <div class="dropdown dropdown--nav">
      <button
        type="button"
        class="btn dropdown-toggle"
        data-bs-toggle="dropdown"
        data-bs-display="static"
        aria-expanded="false"
      >
        <i class="fas fa-user-circle"></i>
        <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
					<div class="dropdown-header">
						<h6 class="dropdown-title">Masrama</h6>
						<address>masramadtcm@gmail.com</address>
					</div>
				</li>
        <li><a class="dropdown-item" href="#">
					<i class="icon icon--dropdown fas fa-lock"></i> Account Setting
				</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item dropdown-item--logout" href="#">
					<i class="icon icon--dropdown fas fa-sign-out-alt"></i> Logout
				</a></li>
      </ul>
    </div>
  </div>
</nav>
